/* :root {
  --button-wide: 80px;
}
 */
.buttonAnswer {
  width: 100%; /* 6.7em; */
  background-color: #003838;
  color: yellow;
  border-radius: 0.3em;
}

.selectedButtonAnswer {
  width: 100%;
  background-color: #689292;
  border-radius: 0.3em;
  color: black;
}

.one-octave-toggle {
  width: 100%;
  border-radius: 0.3em;
  background-color: #003838;
  color: yellow;
}
  
.pressed-one-octave-toggle {
  width: 100%;
  background-color: #689292;
  border-radius: 0.3em;
  color: black;
}

.answer {
  visibility: visible;
  font-weight: bold;
  color: #003838;
  font-size: 1.5em;
}
  
.hidden-answer {
  font-size: 1.5em;
  visibility: hidden;
}

.controls{
  border: 0.1em solid lightgrey;
  width: 20em;
  border-radius: 0.5em;
  padding: 0.3em; 
  padding-bottom: 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.staff-practice {
  display:flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  align-items: center;
  /* border: 0.1em solid black; */
  justify-content: center;
  gap: 1em;
}

.title {
  font-weight: bold;
  color: #003838;
  font-size: 1.5em;
}

/* .fromTo {
  margin-left: 2em;
} */

.container-span {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.wide-button {
  width: 50px;
}

.wide-solution {
  width: 200px;
}

span {
  min-width: 80px;
  /* border: 1px solid black; */
  text-align: center;
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* width: var(--button-wide); */
}

/* .vertical-buttons button {
  height: 40%;
} */

.vertical-buttons div {
  height: 40%;
}

.staff-practice-page-container {
  position: relative; /* lo dejo para el botón de ayuda posterior*/
}

.container-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}