.general {
    position: relative;
    height: 270px;
    width: 80px;
  }
  
  .caja {
    position: absolute;
    height: 270px;
    width: 80px;
    top: 10px;
  }
  
  .fa5, .re5, .si4, .sol4, .mi4 {
    border: 0.1em solid black;
    height: 0em;
    width: auto;
    margin-top: 1em;
  }
  
.sol6, .mi6, .do6, .la5, .do4, .la3, .fa3, .re3 {
  border: 0.1em solid black;
  height: 0em;
  width: 30%;
  margin: auto;
  margin-top: 1em;
  visibility: hidden;
}
  
.visible-high-low-lines {
  visibility: visible;
}

.nota {
  position: absolute;
  top: 15.2em;
  left: 1.85em;
  height: 1em;
  width: 1.3em;
  border-radius: 70%;
  background-color: black;
  visibility: visible;
}
    
.hidden-note {
  visibility: hidden;
}
  
  .buttonNext, .buttonAnswer, .buttonNextShort, .buttonNextMiddle, .buttonNextShortTime,
  .buttonNextMiddleTime,
  .buttonNextTime, .buttonNextVoice, .buttonNextVoiceTime {
    width: 80px;
    margin-left: 20px;
    margin-top: 5px;
  /*   background-color: #555;
    color: white; */
  }
  
  .one-octave-toggle {
    width: 100px;
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .answer {
    visibility: hidden;
    margin-left: 70px;
    margin-top: 5px;
  }
  
  .speedBox {
    margin-left: 20px;
  }
  
.speedButton500,
.speedButton1000,
.speedButton1500,
.speedButton2000 {
    width: 60px;
    margin: 5px;
}
  
input {
    width: 20px;
}
   
.controls{
  border: 1px solid black;
  width: 350px;
}

.staff-practice {
  display:flex;
  height: calc(100vh - 45px);
  flex-direction: column;
  align-items: center;
  border: 0.1em solid black;
  justify-content: center;
  gap: 3em;
}

