.main-screen {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15em;
}

.main-screen > p {
    margin:0.2em;
    font-size: 1.8em;
    color: rgb(0, 49, 68);
}

.title {
    font-weight: bold;
    color: #003838;
    font-size: 1.5em;
    margin: 10px;
    padding: 0px;
  }

.intervals-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.intervals-title {
    font-size: 1.5em;
    color: rgb(0, 49, 68);
    text-align: center;
}

.interval-view-container, .interval-buttons-container {
    border-radius: 0.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.interval-view-ask-text, .interval-view-answer-text {
    text-align: center;
    font-size: 1.2em;
    color: rgb(0, 49, 68);
    font-weight: bold;
    margin: 0.4em;
    height: 1.4em;
}

.interval-buttons {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.screen-width {
    width: 350px;
}

.vertical-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}

.horizontal-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
    gap: 0.3em;
}

.wide-33 {
  width: 33.3%;
}

.wide-66 {
    width: 66.6%;
}

.wide-fix {
  width: 100%;
}