.fraseo {
    display: flex;
    direction: row;
    position: relative;
  }
  
  .cuadro-nota {
    position: relative;
    width: 25px;
    height: 45px;
    border: 1px solid black;
  }
  
  .redonda-exterior {
    position: absolute;
    left: 6px;
    top: 27px;
    height: 8px;
    width: 12px;
    border-radius: 70%;
    background-color: black;
    border: 1px solid black;
  }
  
  .redonda-interior {
    position: absolute;
    left: 8px;
    top: 27px;
    height: 8px;
    width: 8px;
    border-radius: 70% 20% 70% 20%;
    background-color: white;
    border: 1px solid black;
  }
  
  .linea {
    position: absolute;
    top: 32px;
    width: 300px;
    border-top: 1px solid black;
  }
  
  .blanca-exterior {
    position: absolute;
    left: 6px;
    top: 28px;
    height: 7px;
    width: 9px;
    border-radius: 70%;
    background-color: black;
    border: 1px solid black;
  }
  
  .blanca-interior {
    position: absolute;
    left: 6px;
    top: 28px;
    height: 7px;
    width: 9px;
    border-radius: 80% 40% 80% 40%;
    background-color: white;
    border: 1px solid black;
  }

  .mastil-blanca-negra {
    position: absolute;
    left: 16px;
    top: 10px;
    height: 22px;
    width: 0px;
    border-left: 1px solid black;
  }
  
  .mastil-corchea-semicorchea {
    position: absolute;
    left: 13px;
    top: 10px;
    height: 22px;
    width: 0px;
    border-left: 1px solid black;
  }
  
  .negra {
    position: absolute;
    left: 6px;
    top: 28px;
    height: 7px;
    width: 9px;
    border-radius: 70%;
    background-color: black;
    border: 1px solid black;
  }
  
  .corchea, .semicorchea {
    position: absolute;
    left: 3px;
    top: 28px;
    height: 7px;
    width: 9px;
    border-radius: 70%;
    background-color: black;
    border: 1px solid black;
  }
  
  .flag-1 {
    position: absolute;
    top: 10px;
    left: 13px;
    width: 7px;
    height: 2px;
    border: 1px solid black;
    background-color: black;
  }
  
  .flag-2 {
    position: absolute;
    top: 16px;
    left: 13px;
    width: 7px;
    height: 2px;
    border: 1px solid black;
    background-color: black;
  }
  
  
  
  